!/**/
!*.*
/build/
/build-linux/
/export/
/reports/
syfala_log.txt
*.aux
/tools/multiN/tex/output-template.pdf
*.autosave
*.user
*.o
*.log
*.json
*.idx
*.jou
*.cflags
*.files
*.creator
*.cxxflags
*.includes
*.config
*.cf
*.out
*.toc
*.clang
*.Xil
makefile.env
#### Ethernet, Rust etc.
source/linux/ethernet/client/target
source/linux/ethernet/server/target
source/linux/ethernet/target
.DS_Store
Cargo.lock
