!/**/
!*.*
/build/
/build-linux/
/export/
/reports/
syfala_log.txt
*.aux
*.env
/tools/multiN/tex/output-template.pdf
*.autosave
*.user
*.o
*.log
*.json
*.idx
*.jou
*.cflags
*.files
*.creator
*.cxxflags
*.includes
*.config
*.cf
*.out
*.toc
*.clang
*.Xil
makefile.env
*.pb
*.dir
#### Ethernet, Rust etc.
source/linux/ethernet/client/target
source/linux/ethernet/server/target
source/linux/ethernet/target
source/linux/syfala-load/target
tools/fir-test-generator/target
.DS_Store
Cargo.lock
tools/hls2csv/target
.vscode
compile_flags.txt
